<h3>Thông tin Person: @ViewBag.Ps</h3>
<form asp-action="Index">
    <label>PersonID:</label>
    <input type="number" name="PersonID">
    <br>
    <label>PersonName:</label>
    <input type="text" name="PersonName">
    <br>
    <label>PersonAge:</label>
    <input type="number" name="PersonAge">
    <br>
    <label>Person Address:</label>
    <input type="text" name="Address">
    <br>
    <input type="submit" value="Save">
</form>
