@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="uppertolower">
    <label>Nhập chuỗi:</label>
    <input type="text" name="strInput">
    <input type="submit" value="Hiển thị chuỗi">

</form>
<h2> Chuỗi hiển thị : @ViewBag.Inthuong</h2>